body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin: 5px 0;
    font-size: 14px;
}
